.about__img {
  width: 100%;
  min-height: 30rem;
  overflow: hidden;

  background-image: linear-gradient(
  to right bottom,
  rgba($color-white, 0.1),
  rgba($color-white, 0.8)),
  url(../img/3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    transition: transform .3s;

  &:hover {
      transform: translateY(-1.5rem) scale(1.03);
  }
}
